Source: python-nosedjango
Priority: extra
Maintainer: Jyrki Pulliainen <jyrki.pulliainen@inoi.fi>
Build-Depends: python (>=2.5), debhelper (>> 3.0.0), python-setuptools
Standards-Version: 3.5.8
Section: python

Package: python-nosedjango
Section: python
Architecture: all
Depends: python-django, python-nose (>= 0.10.0)
Description: A nose plugin for Django unit tests
 This is a Nose unit test framework for Django unit tests.
 .
 Nosedjango handles creating and removing test databases before every
 single test keeping the tests isolated. It also has experimental
 transaction support to speed up unit tests.
